# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [18]:
import pandas as pd
import numpy as np

In [19]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [20]:
#計算每個不同種類 animal 的 age 的平均數

df.groupby('animal').age.mean()

animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64

In [21]:
#將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序

df.sort_values(by=['age'])

  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [22]:
df.sort_values(['visits'], ascending = False)

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
a    cat  2.5       1      yes
g  snake  4.5       1       no
h    cat  NaN       1      yes
j    dog  3.0       1       no

In [23]:
#將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False

df['priority'].replace(['yes', 'no'], [True, False])

a     True
b     True
c    False
d     True
e    False
f    False
g    False
h     True
i    False
j    False
Name: priority, dtype: bool

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [24]:
df1 = pd.DataFrame(np.random.random(size=(5, 3)))
df1

          0         1         2
0  0.250915  0.885096  0.612134
1  0.486749  0.687522  0.873350
2  0.361009  0.920974  0.576569
3  0.352591  0.460560  0.078274
4  0.629737  0.863514  0.396046

In [25]:
#將每個數字減去該欄位的平均數

df1-df1.mean()

          0         1         2
0 -0.165285  0.121563  0.104859
1  0.070549 -0.076011  0.366075
2 -0.055192  0.157441  0.069294
3 -0.063609 -0.302973 -0.429000
4  0.213537  0.099981 -0.111229

In [26]:
#將每個數字減去該筆資料平均數

df1-df1.mean(axis=1)

          0         1         2   3   4
0 -0.331800  0.202556 -0.007383 NaN NaN
1 -0.095966  0.004982  0.253833 NaN NaN
2 -0.221706  0.238434 -0.042948 NaN NaN
3 -0.230124 -0.221980 -0.541243 NaN NaN
4  0.047022  0.180974 -0.223471 NaN NaN

### 3. 承上題，請問：

1) 哪一筆的資料總合最小
2) 哪一欄位的資料總合最小

In [32]:
#哪一筆的資料總合最小

df1.sum(axis=1).idxmin()

3

In [33]:
#哪一欄位的資料總合最小

df1.sum().idxmin

<bound method Series.idxmin of 0    2.081001
1    3.817666
2    2.536374
dtype: float64>